.tags-group {
  border: 1px solid #dadada;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

#chipListInput {
  padding: 1rem;
  height: 2rem;
}
.roles-list {
  box-shadow: 0 7px 20px -5px #e7e4e4;
  .title {
    min-height: 55px;
    display: flex;
    align-items: center;
    background-color: #f5f6fa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
    border-bottom: 2px solid #b9b4c2;
  }

  .roles-items-container {
    height: 405px;
    overflow-y: auto;
    padding: 5px 0 0 0;

    .roles-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 7px;
      height: 50px;
      cursor: pointer;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      margin-bottom: 6px;
      box-shadow: 0 0 7px -2px #e3e3e3;

      &:hover {
        box-shadow: 0 0 15px -5px #d5d3d3;
        border-color: #d0cfd1;
      }

      .role-name {
        display: flex;
        flex: 0 1 73%;
        align-items: center;
        height: 100%;
      }

      .item-actions {
        display: flex;
        flex: 1 0 25%;
        justify-content: end;
      }
    }
    .roles-item.active {
      background-color: #e3e3e3;
    }
  }
}


