<div class="card card-custom">
    <!-- begin::Header -->
    <div class="card-header card-header-stretch">
      <div class="card-title m-0">
        <h3 class="fw-bolder m-0">متابعة الشكوى</h3>
      </div>
      <div class="card-header-actions d-flex justify-content-between gap-3 py-3">
        <ng-container *ngIf="selectedComplaintInfo$ | async as complaint">
            <a *ngIf="complaint!.IsSecretComplaint" role="contentinfo" class="btn cursor-default btn-icon btn-danger btn-circle btn-sm" matTooltip="الشكوى سرية">
                <i class="fas fa-lock"></i>
            </a>

            <a *ngIf="!complaint!.IsSecretComplaint" role="contentinfo" class="btn cursor-default btn-icon btn-success btn-circle btn-sm" matTooltip="الشكوى غير سرية">
                <i class="fas fa-lock-open"></i>
            </a>  

            <a *ngIf="complaint?.Status! == 2" role="contentinfo" class="btn cursor-default btn-icon btn-circle btn-light btn-circle btn-sm" matTooltip="الشكوى بدون أي إجراء حتى الآن">
                <i class="far fa-hourglass fs-3"></i>
            </a>
            <a *ngIf="complaint?.Status! == 3" role="contentinfo" class="btn cursor-default btn-icon btn-circle btn-light btn-primary btn-sm" matTooltip="الشكوى قيد استكمال البيانات">
                <i class="fa fa-hourglass-half fs-3"></i>

            </a>

            <a *ngIf="complaint?.Status! == 4" role="contentinfo" class="btn cursor-default btn-icon btn-circle btn-light btn-success btn-sm" matTooltip="تم إجراء تقرير الحالة على الشكوى">
                <i class="fas fa-hourglass fs-3"></i>
            </a>
        </ng-container>
        
      </div>
    </div>
    <!-- end::Header -->
  
    <!-- begin::Body -->
    <div class="card-body">
        <div class="col-md-12" *ngIf="SelectedComlaintID$ | async as selectedComlaintID; else loadingSpinner">
            <mat-tab-group animationDuration="0ms">
                <mat-tab id="tab1" label="بيانات الشكوى" style="min-height: 150px;">
                    <!-- <ng-template mat-tab-label>
                        بيانات الشكوى
                    </ng-template> -->
                    <div class="container" style="min-height: 150px;">
                        <div class="py-5" *ngIf="selectedComplaintInfo$ | async as complaintInfo; else loadingSpinner">
                            <app-complaint-info [ComplaintInfo]="complaintInfo"></app-complaint-info>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab  id="tab2" label="إجراءات المتابعة"  style="min-height: 150px;">
                    <!-- <ng-template mat-tab-label>
                        إجراءات المتابعة
                    </ng-template> -->
                    <div class="continer" *ngIf="selectedComplaintInfo$ | async as complaintInfo; else loadingSpinner" style="min-height: 150px;">
                        <div class="py-5 px-3" *ngIf="codes$ | async as codes; else loadingSpinner">
                            <form [formGroup]="form" class="row gy-5">
                                <div class="col-md-3">
                                    <label class="required form-label">نوع المتابعة</label>
                                    <select class="form-select" formControlName="FollowUpType">
                                        <option *ngFor="let type of codes.ComplaintFollowUpType" [value]="type.Code">{{type.Name}}</option>
                                    </select>
                                    <app-required-validation-msg [control]="formControls!.FollowUpType!" [submitted]="submitted"></app-required-validation-msg>
                                </div>
                                <div class="col-md-3">
                                    <label class="required form-label" >تاريخ الإدخال</label>
                                    <div class="input-group">
                                        <input
                                            type="datetime-local"
                                            class="form-control"
                                            placeholder="dd/mm/yyyy"
                                            formControlName="InsertDateTime">
                                        <!-- <input
                                          type="text"
                                          autocomplete="off"
                                          (focus)="insertDateTimePicker.open()"
                                          [matDatepicker]="insertDateTimePicker"
                                          class="form-control"
                                          placeholder="dd/mm/yyyy"
                                          formControlName="InsertDateTime"
                                        />
                                        <div class="input-group-text" (click)="insertDateTimePicker.open()">
                                        <i class="fas fa-calendar-alt"></i>
                                        </div>
                                        <mat-datepicker #insertDateTimePicker></mat-datepicker> -->
                                    </div>
                                    <app-required-validation-msg [control]="formControls!.InsertDateTime!" [submitted]="submitted"></app-required-validation-msg>
                                </div>

                                <div class="col-md-12 px-2" *ngIf="formControls!.FollowUpType!.value != 102">
                                    <label class="form-label">استكمال بيانات من الموظفين:</label>
                                    <mat-form-field class="col-md-12">
                                        <mat-chip-list #chipList>
                                            <mat-chip
                                            *ngFor="let selectedEmp of SelectedToEmps$ | async"
                                            [selectable]="true"
                                            [removable]="true"
                                            (remove)="removeEmp(selectedEmp)"
                                            >
                                            <!--  -->
                                            {{ selectedEmp.Name }}
                                            <button matChipRemove>
                                                <mat-icon (click)="removeEmp(selectedEmp)">close</mat-icon>
                                            </button>
                                            </mat-chip>
                                            <div class="input-group">
                                                <input
                                                    type="text"
                                                    class="form-control chipListInput"
                                                    [formControl]="empSearchControl"
                                                    [matAutocomplete]="empAuto"
                                                    [matChipInputFor]="chipList"
                                                    id="chipListToEmpsInput"
                                                />
                                                <div class="input-group-text border-0 mx-1">
                                                    <i class="fas fa-search"></i>
                                                </div>
                                            </div>
                                        </mat-chip-list>
                                        <mat-autocomplete #empAuto="matAutocomplete">
                                            <mat-option *ngFor="let searchedEmp of searchedEmp$ | async"
                                            (onSelectionChange)="addEmp(searchedEmp)">{{ searchedEmp.Name }}</mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <!-- </div> -->
                                </div>

                                <div class="col-md-12">
                                    <label class="required form-label">وصف المتابعة</label>
                                    <app-chars-counter [value]="formControls?.Description?.value" [maxLength]="4000"></app-chars-counter>
                                    <textarea maxlength="4000" type="text" class="form-control" formControlName="Description" rows="3"></textarea>
                                    <app-required-validation-msg [control]="formControls!.Description!" [submitted]="submitted"></app-required-validation-msg>
                                </div>

                                <div class="col-md-3">
                                    <a role="button" class="btn btn-info btn-sm" matTooltip="حفظ" (click)="saveFollowUp()">
                                        <span class="hidden-mobile">حفظ</span>
                                        &nbsp;
                                        <i class="fas fa-tags"></i>
                                    </a>
                                </div>
                            </form>

                            <hr class="my-9">

                            <div class="col-md-12 d-flex align-items-center flex-column p-4">
                                
                                <ng-container *ngIf="allFollowUps$ | async as followUps; else loadingSpinner" >
                                    <div class="col-md-12 my-3" *ngFor="let followUp of followUps">
                                        <app-follow-up-template [followUpInfo]="followUp"></app-follow-up-template>
                                    </div>
                                </ng-container>
                                
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab  id="tab3" label="لجنة الشكاوى"  style="min-height: 150px;">
                    <div class="continer" style="min-height: 150px;">
                        <app-complaint-commission [selectedComlaintId$]="SelectedComlaintID$"></app-complaint-commission>
                    </div>
                </mat-tab>
            </mat-tab-group>  
        </div>
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="col-md-12 d-flex justify-content-center align-items-center py-2 h-100 d-inline-block">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>