<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="fw-bolder d-flex align-items-center">{{followUpInfo?.EmpIDName!}}</span>
                
            </mat-panel-title>
            <!-- <mat-panel-description> -->
            <div class="col-md-7 d-flex justify-content-between align-items-center" mat-panel-description>

                <div class="d-flex flex-column align-items-center gap-1" style="width: auto;">
                    <div class="fw-bolder">{{followUpInfo?.FollowUpTypeName!}}</div>
                    <div class="fw-bolder">{{followUpInfo?.InsertDateTime! | date : 'MM/dd/YYYY hh-mm a'}}</div>
                </div>
            
                <!-- <a class="mx-4 " style="z-index: 1000; width: 2rem;"><mat-icon>edit</mat-icon></a> -->
            </div>
        </mat-expansion-panel-header>
            <div class="col-md-12 d-flex flex-column gap-5">
                <div class="col-md-12 d-flex gap-2">
                    <label class="px-2 form-label fw-bold">الأشخاص المحوَّل إليهم : </label>
                    <p>{{followUpInfo?.ToEmpIDName!}}</p>
                </div>
                <div class="col-md-12 d-flex gap-2">
                    <label class="px-2 form-label fw-bold">وصف المتابعة : </label>
                    <p [innerText]="followUpInfo?.Description!"></p>
                </div>
            </div>
    </mat-expansion-panel>
</mat-accordion>