<div class="modal-contents">
    <div class="hint">
        <h5>يرجى ملء المعلومات التالية والنقر فوق تعديل.</h5>
    </div>

    <div class="form">
        <div class="mb-5">

                    <label class="form-label">كلمة السر الجديدة</label>
                    <input type="password" class="form-control" placeholder="********">
            
           
        </div>

        <div class="mb-5">

          
            <label class="form-label">تكرار كلمة السر الجديدة</label>
            <input type="password" class="form-control" placeholder="********">
   
</div>



        <div class="mb-5">
            <a href="#" class="btn btn-primary"><i class="fas fa-unlock"></i> تعديل</a>

        </div>
    </div>
</div>