//
// Required Label
//

.required {
    &:after {
        content: "*";
        position: relative;
        font-size: inherit;
        color: $danger;
        padding-inline-start: 0.3rem;
        font-weight: bold;
    }
}