<div class="card card-custom">
  <!-- begin::Header -->
  <div class="card-header card-header-stretch overflow-auto">
      <div class="card-title m-0">
          <h3 class="fw-bolder m-0">الأدوار</h3>
      </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body">

    <div class="row mb-5">
      <div class="col-lg-12">
       <div class="hint">
         <h6>فيما يلي قائمة بأدوارك الحالية المتاحة. حدد واحدة لبدء التحرير.</h6>
       </div>
      </div>
  </div>

  <div class="row mb-5">
    <div class="col-lg-4">
     <div class="roles-list">
       <div class="title">
         <h5>
          <i class="fas fa-user-tag"></i>
          <span>قائمة الأدوار</span>
         </h5>
         <div class="roles-items">
           <div class="item d-flex align-items-center">
             <div class="item-title">
               <h6>تقني</h6>
             </div>

           </div>

           <div class="item d-flex align-items-center">
            <div class="item-title">
              <h6>اداري</h6>
            </div>
            <div class="item-actions">
              <a href="#" class="btn btn-icon btn-circle btn-sm btn-outline btn-outline-default"><i class="fas fa-trash"></i> </a> &nbsp;
             <a href="#" class="btn btn-icon btn-circle btn-sm btn-outline btn-outline-default"><i class="fas fa-clone"></i> </a>

            </div>
          </div>


          <div class="item d-flex align-items-center">
            <div class="item-title">
              <h6>محاسب</h6>
            </div>
            <div class="item-actions">
             <a href="#" class="btn btn-icon btn-circle btn-sm btn-outline btn-outline-default"><i class="fas fa-trash"></i> </a> &nbsp;
             <a href="#" class="btn btn-icon btn-circle btn-sm btn-outline btn-outline-default"><i class="fas fa-clone"></i> </a>

            </div>
          </div>

          
         </div>

         <div class="add-role">
          <a href="#" class="btn btn-primary"><i class="fas fa-plus"></i> اضافة دور</a>

         </div>
       </div>
     </div>
    </div>

    <div class="col-lg-8">
      <div class="roles-details">
        <div class="role-info">
          <div class="title">
            <i class="fas fa-cog"></i>
            <h4>تفاصيل الدور</h4>
          </div>

          <div class="role-card">
            <div class="title">
              <h3>تعديل الدور</h3>
              <input type="text" class="form-control" placeholder="محاسب">
            </div>

            <div class="information">
              <p>يرجى توخي الحذر الشديد عند تحرير الأذونات وإلا يمكنك قفل المستخدمين عن طريق الخطأ من أجزاء معينة من البرنامج.</p>
              <p>إذا كانت لديك أي أسئلة ، فلا تتردد في التواصل معنا! نحن هنا للمساعدة.</p>
            </div>
          </div>


          <div class="roles-component">
            <div class="roles-group">
              <table class="table table-rounded table-striped border gy-3 gs-5">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                        <th><i class="fas fa-info-circle"></i></th>
                        <th>المهام المفتوحة (WOs ، PMs ، إلخ.)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                        </div>
                        </td>
                        <td>
                          <div class="contents">
                            <h6>عرض المهام المفتوحة الخاصة بي</h6>
                            <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                              <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                              <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                              </svg></span>
                          </div>
                        </td>
                      
                    </tr>
                    <tr>
                        <td>
                          <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                        </div>
                        </td>
                        <td>
                          <div class="contents">
                            <h6>تحرير واستكمال المهام المفتوحة مسبقاً</h6>
                            <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                              <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                              <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                              </svg></span>
                          </div>
                        </td>
                      
                    </tr>

                    <!-- <tr>
                      <td>
                        <div class="form-check form-check-custom form-check-solid">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                      </div>
                      </td>
                      <td>
                        <div class="contents">
                          <h6></h6>
                          <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                            <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                            <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                            </svg></span>
                        </div>
                      </td>                    
                  </tr> -->

                  <tr>
                    <td>
                      <div class="form-check form-check-custom form-check-solid">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                    </div>
                    </td>
                    <td>
                      <div class="contents">
                        <h6>عرض جميع المهام المفتوحة</h6>
                        <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                          <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                          <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                          </svg></span>
                      </div>
                    </td>                    
                </tr>

                <tr>
                  <td>
                    <div class="form-check form-check-custom form-check-solid">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                  </div>
                  </td>
                  <td>
                    <div class="contents">
                      <h6>تحرير واستكمال أي مهام مفتوحة</h6>
                      <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                        <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                        <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                        </svg></span>
                    </div>
                  </td>                    
              </tr>

              <tr>
                <td>
                  <div class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                </div>
                </td>
                <td>
                  <div class="contents">
                    <h6>ابدأ مهام جديدة</h6>
                    <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                      <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                      <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                      </svg></span>
                  </div>
                </td>                    
            </tr>

            <tr>
              <td>
                <div class="form-check form-check-custom form-check-solid">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
              </div>
              </td>
              <td>
                <div class="contents">
                  <h6>تقديم طلب عمل</h6>
                  <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                    <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                    <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                    </svg></span>
                </div>
              </td>                    
          </tr>

          <tr>
            <td>
              <div class="form-check form-check-custom form-check-solid">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
            </div>
            </td>
            <td>
              <div class="contents">
                <h6>تغيير تعيينات المهام المفتوحة</h6>
                <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                  <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                  <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                  </svg></span>
              </div>
            </td>                    
        </tr>

        <tr>
          <td>
            <div class="form-check form-check-custom form-check-solid">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
          </div>
          </td>
          <td>
            <div class="contents">
              <h6>تغيير مواعيد استحقاق المهام المفتوحة</h6>
              <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                </svg></span>
            </div>
          </td>                    
      </tr>
                </tbody>
            </table>
            </div>



            <div class="roles-group">
              <table class="table table-rounded table-striped border gy-3 gs-5">
                <thead>
                    <tr class="fw-bold fs-6 text-gray-800 border-bottom border-gray-200">
                        <th><i class="fas fa-info-circle"></i></th>
                        <th>المهام المكتملة (أوامر العمل ، ورؤساء العمل ، وما إلى ذلك)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                          <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                        </div>
                        </td>
                        <td>
                          <div class="contents">
                            <h6>عرض المهام المكتملة</h6>
                            <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                              <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                              <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                              </svg></span>
                          </div>
                        </td>
                      
                    </tr>
                    <tr>
                        <td>
                          <div class="form-check form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                        </div>
                        </td>
                        <td>
                          <div class="contents">
                            <h6>عرض جميع المهام المكتملة</h6>
                            <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                              <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                              <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                              </svg></span>
                          </div>
                        </td>
                      
                    </tr>


                  <tr>
                    <td>
                      <div class="form-check form-check-custom form-check-solid">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                    </div>
                    </td>
                    <td>
                      <div class="contents">
                        <h6>عرض تكاليف العمالة</h6>
                        <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                          <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                          <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                          <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                          </svg></span>
                      </div>
                    </td>                    
                </tr>

                <tr>
                  <td>
                    <div class="form-check form-check-custom form-check-solid">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                  </div>
                  </td>
                  <td>
                    <div class="contents">
                      <h6>تحرير واستكمال أي مهام مفتوحة</h6>
                      <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                        <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                        <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                        </svg></span>
                    </div>
                  </td>                    
              </tr>

              <tr>
                <td>
                  <div class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
                </div>
                </td>
                <td>
                  <div class="contents">
                    <h6>مشاهدة الفواتير</h6>
                    <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                      <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                      <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                      </svg></span>
                  </div>
                </td>                    
            </tr>

            <tr>
              <td>
                <div class="form-check form-check-custom form-check-solid">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
              </div>
              </td>
              <td>
                <div class="contents">
                  <h6>تحرير المهام المكتملة</h6>
                  <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                    <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                    <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                    </svg></span>
                </div>
              </td>                    
          </tr>

          <tr>
            <td>
              <div class="form-check form-check-custom form-check-solid">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
            </div>
            </td>
            <td>
              <div class="contents">
                <h6>حذف المهام المكتملة</h6>
                <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                  <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                  <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                  </svg></span>
              </div>
            </td>                    
        </tr>

        <tr>
          <td>
            <div class="form-check form-check-custom form-check-solid">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"/>
          </div>
          </td>
          <td>
            <div class="contents">
              <h6>استيراد المهام المكتملة</h6>
              <span class="tooltip-item svg-icon svg-icon-muted svg-icon-2hx"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"/>
                <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"/>
                <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"/>
                </svg></span>
            </div>
          </td>                    
      </tr>
                </tbody>
            </table>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div>

  </div>
  <!-- end::Body -->

  <!-- begin::Footer -->
  <!-- <div class="card-footer py-6">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
          <button
            type="button"
            (click)="submitPreview()"
            class="btn btn-primary me-2"
            [disabled]="configLoading || resetLoading"
          >
            <ng-container *ngIf="!configLoading">
              <span class="indicator-label">Preview</span>
            </ng-container>

            <ng-container *ngIf="configLoading">
              <span class="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </ng-container>
          </button>

          <button
            type="button"
            id="kt_layout_builder_reset"
            class="btn btn-active-light btn-color-muted"
            (click)="resetPreview()"
            [disabled]="configLoading || resetLoading"
          >
            <ng-container *ngIf="!resetLoading">
              <span class="indicator-label">Reset</span>
            </ng-container>

            <ng-container *ngIf="resetLoading">
              <span class="indicator-progress" [style.display]="'block'">
                Please wait...{{ " " }}
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </ng-container>
          </button>
        </div>
      </div>
    </div> -->

  <!-- end::Footer -->
</div>

