<!--begin::Form-->
<form
  class="form w-100"
  [formGroup]="loginForm"
  novalidate="novalidate"
  id="kt_login_signin_form"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <h1 class="text-dark mb-3">تسجيل الدخول</h1>
    <!-- <div class="text-gray-400 fw-bold fs-4">
      هل لديك حساب؟
      <a
        routerLink="/auth/registration"
        id="kt_login_signup"
        class="link-primary fw-bolder"
        >{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
      >
    </div> -->
  </div>
  <!--end::Heading-->

  <!-- begin::Alert info-->
  <!-- <ng-container *ngIf="!hasError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <div class="text-info">
        استخدم حساب <strong>{{ defaultAuth.username }}</strong> وكلمة المرور
        <strong>{{ defaultAuth.password }}</strong> للدخول.
      </div>
    </div>
  </ng-container> -->
  <!-- end::Alert info-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        تفاصيل تسجيل الدخول غير صحيحة
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <label class="form-label fs-6 fw-bolder text-dark">البريد الالكتروني</label>
    <input
      class="form-control form-control-lg form-control-solid"
      name="username"
      formControlName="username"
      autocomplete="off"
      [ngClass]="{
        'is-invalid': ((f?.username?.invalid || f?.username?.errors?.loginFailed) && (f?.username?.touched || f?.username?.dirty || loginSubmit)),
        'is-valid': (f?.username?.valid  && !f?.username?.errors?.loginFailed) && (f?.username?.touched || f?.username?.dirty || loginSubmit)
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'username is required',
        control: f?.username
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'username',
        message: 'يجب إدخال اسم المستخدم',
        control: f?.username
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'اسم المستخدم على الأقل يجب أن يتكون من حرف واحد',
        control: f?.username
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'username should have maximum 360 symbols',
        control: f?.username
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <div class="d-flex justify-content-between mt-n5">
      <div class="d-flex flex-stack mb-2">
        <label class="form-label fw-bolder text-dark fs-6 mb-0">كلمة المرور</label>
        <!-- <a
          routerLink="/auth/forgot-password"
          class="link-primary fs-6 fw-bolder"
          id="kt_login_forgot"
          [style.margin-left]="'5px'"
        >
          هل نسيت كلمة المرور
        </a> -->
      </div>
    </div>

    <input
      class="form-control form-control-lg form-control-solid"
      type="password"
      name="password"
      autocomplete="off"
      formControlName="password"
      [ngClass]="{
        'is-invalid': ((f.password?.invalid || f.password?.errors?.loginFailed)&& (f.password?.touched || f.password?.dirty || loginSubmit)),
        'is-valid': (f.password?.valid && !f.password?.errors?.loginFailed) && (f.password?.touched || f.password?.dirty || loginSubmit)
      }"
    />
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'يجب إدخال كلمة المرور',
        control: f.password
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'كلمة المرور على الأقل يجب أن تتكون من حرف واحد',
        control: f.password
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'كلمة المرور يجيب ألا تزيد عن 100 حرف',
        control: f.password
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Action-->
  <div class="text-center">
    <button
      type="submit"
      id="kt_sign_in_submit"
      class="btn btn-lg btn-primary w-100 mb-5"
      [disabled]="loginForm.invalid"
      (click)="login()"
    >
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          يرجى الانتظار...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </ng-container>
      <ng-container *ngIf="!(isLoading$ | async)">
        <span class="indicator-label">دخول</span>
      </ng-container>
    </button>

    <!-- begin::Separator  -->
    <!-- <div class="text-center text-muted text-uppercase fw-bolder mb-5">أو</div> -->
    <!-- end::Separator  -->

    <!-- <a
      class="
        btn btn-flex
        flex-center
        btn-light btn-lg
        w-100
        mb-5
        cursor-pointer
      "
    >
      <img
        class="h-20px me-3"
        src="./assets/media/svg/brand-logos/google-icon.svg"
      />

      Continue with Google
    </a> -->
  </div>
  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
