<div class="card card-custom">
    <!-- begin::Header -->
    <div class="card-header card-header-stretch">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">متابعاتي</h3>
        </div>
        <div class="card-header-actions d-flex justify-content-between gap-3 py-3">
            <div class="d-flex justify-content-between gap-3">
                <a role="button" class="btn btn-primary" color="primary" matTooltip="حفظ الرد"
                     (click)="saveFollowUp()">
                    <i class="fa fa-save"></i>
                    <span class="hidden-mobile">
                    حفظ
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!-- end::Header -->
  
    <!-- begin::Body -->
    <div class="card-body">
        <div class="continer">
            <div class="col-md-12" *ngIf="!!complaintId; else loadingSpinner">
                <div class="py-5 px-3" *ngIf="codes$ | async as codes; else loadingSpinner">
                    <form [formGroup]="form" class="row gy-5">

                        <div class="col-md-12">
                            <label class="required form-label">الرد</label>
                            <textarea maxlength="4000" minlength="0" type="text" class="form-control" formControlName="Description" rows="3"></textarea>
                            <app-required-validation-msg [control]="formControls!.Description!" [submitted]="submitted"></app-required-validation-msg>
                        </div>
                    </form>

                    <hr class="my-9">

                    <div class="col-md-12 d-flex align-items-center flex-column p-4">
                        
                        <ng-container *ngIf="myFollowUps$ | async as followUps; else loadingSpinner" >
                            <div class="col-md-10 my-3" *ngFor="let followUp of followUps">
                                <app-my-follow-up-template [followUpInfo]="followUp"></app-my-follow-up-template>
                            </div>
                        </ng-container>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingSpinner>
    <div class="col-md-12 d-flex justify-content-center align-items-center py-2 h-100 d-inline-block">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>